<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>

    <script src="https://kit.fontawesome.com/040eb06c51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/create.css">
</head>
<body>

    <div class="popup hidden">
        <div class="create-form">
            <div class="exit"><i class="fa-solid fa-xmark"></i></div>
            <div class="greeting">Hello!</div>
            <div class="msg"><p>Please fill in a unique title for your project.</p></div>
            <div class="input title-name"><input type="text" placeholder="Fill in your title"></div>
            <div class="continue"><p>Continue</p></div>
        </div>
    </div>
    
    <nav>
        <div class="nav-content">
            <div class="logo">Galaxy</div>
            <div class="features">
                <a href="/explore">Explore</a>
                <a href="/projects">Projects</a>
                <a href="/create">Code Play</a>
                <a href="/typing">Typing Test</a>
                <a href="/upload">Upload</a>
                <% if (typeof sessionId !=='undefined' ) { %>
                    <% if (!sessionId) { %>
                        <a href="/signIn">Register</a>
                        <% } else { %>
                            <a href="/">Profile</a>
                            <% } %>
                                <% } else { %>
                                    <a href="/signIn">Register</a>
                                    <% } %>  
            </div>
        </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="greet">
                <div>Hello,</div>
                <div>
                    <% if (typeof sessionId !== 'undefined') { %>
                        <% if (!sessionId) { %>
                            Yash Poonia
                       <% } else { %>
                        <%= usr.name %>
                      <% } %>
                   <% } else { %>
                     Yash Poonia
                     <% } %>
                </div>
            </div>
            <div class="heading">
                <div>Below you will be able to see your progress</div>
            </div>
        </div>
    </header>

    <main>
        <div class="section-0">
            <div class="row-0">
                <div class="inner-0">
                    <div class="small"></div>
                    <div class="normal">
                        New
                    </div>
                    <div class="small"></div>
                    <div class="large">
                        Info
                    </div>
                    <div class="small"></div>
                </div>
            </div>
            <div class="row-1">
                <div class="inner-1">
                    <div class="small"></div>
                    <div class="normal">
                        <div>Create a new project.</div>
                        <div class="create-btn">Let's Go!</div>
                    </div>
                    <div class="small"></div>
                    <div class="large">
                        <div class="name">
                            <div class="first"><p>Name:</p></div>
                            <div class="second"><p>Amanjot Singh</p></div>
                        </div>
                        <div class="collg">
                            <div class="first"><p>College:</p></div>
                            <div class="second"><p>MIET</p></div>
                        </div>
                        <div class="total">
                            <div class="first"><p>Total Projets:</p></div>
                            <div class="second"><p></p></div>
                        </div>
                        <div class="likes">
                            <div class="first"><p>Total likes:</p></div>
                            <div class="second"><p>69</p></div>
                        </div>
                        <div class="sort">
                            <div class="first"><p>Sort by:</p></div>
                            <div class="second">
                                <div class="recent selected-sort">Recent</div>
                                <div class="most">Most liked</div>
                                <div class="least">Least liked</div>
                            </div>
                        </div>
                    </div>
                    <div class="small"></div>
                </div>
            </div>
        </div>

        <div class="section-1">
            <div class="row-0">
                <div class="inner-0">
                    <div class="small"></div>
                    <div class="normal"></div>
                    <div class="small"></div>
                </div>
            </div>
            <div class="row-1">
                <div class="inner-1">
                    <div class="small"></div>
                    <div class="move">
                        <h1 class="moving-text m-0">
                            <span class="span-0">Your Work <span class="dot"></span></span>
                            <span class="dot"></span>
                            <span class="span-1">Your Work <span class="dot"></span></span>
                        </h1>
                    </div>
                    <div class="small"></div>
                </div>
            </div>
        </div>

        <div class="section-2">
            <div class="row-0">
                <div class="inner-0">
                    <div class="small"></div>
                    <div class="normal-0">
                        Project-1
                    </div>
                    <div class="small"></div>
                    <div class="normal-1">
                        Project-2
                    </div>
                    <div class="small"></div>
                </div>
            </div>
            <div class="row-1">
                <div class="inner-1">
                    <div class="small"></div>
                    <div class="normal-0">
                        <div class="upper"></div>
                        <div class="lower">
                            <div class="date">
                                <div class="first">
                                    Created on:
                                </div>
                                <div class="second">
                                    2023 Sep 21
                                </div>
                            </div>
                            <div class="curr-likes">
                                <div class="first">
                                    Likes: 
                                </div>
                                <div class="second">
                                    69
                                </div>
                            </div>
                            <div class="open">
                                <div class="open-btn">
                                    Open
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small"></div>
                    <div class="normal-1">
                        <div class="upper"></div>
                        <div class="lower">
                            <div class="date">
                                <div class="first">
                                    Created on:
                                </div>
                                <div class="second">
                                    2023 Sep 21
                                </div>
                            </div>
                            <div class="curr-likes">
                                <div class="first">
                                    Likes: 
                                </div>
                                <div class="second">
                                    69
                                </div>
                            </div>
                            <div class="open">
                                <div class="open-btn">
                                    Open
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small"></div>
                </div>
            </div>
        </div>

        <div class="section-3">
            <div class="row-0">
                <div class="inner-0">
                    <div class="small"></div>
                    <div class="normal-0"></div>
                    <div class="small"></div>
                    <div class="normal-1"></div>
                    <div class="small"></div>
                </div>
            </div>
            <div class="row-1">
                <div class="inner-1">
                    <div class="small"></div>
                    <div class="normal-0">
                        <div class="upper"></div>
                        <div class="lower"></div>
                    </div>
                    <div class="small"></div>
                    <div class="normal-1">
                        <div class="upper"></div>
                        <div class="lower"></div>
                    </div>
                    <div class="small"></div>
                </div>
            </div>
        </div>
    </main>

    <script src="/scripts/create.js"></script>
</body>
</html>