<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/explore.css">
</head>
<body>

    <nav>
        <div class="nav-content">
            <div class="logo">Galaxy</div>
            <div class="features">
                <a href="/">Explore</a>
                <a href="/">Create</a>
                <a href="/">Dashboard</a>
            </div>
        </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="greet">
                <div>Hello,</div>
                <div>Yash Poonia</div>
            </div>
            <div class="heading">
                <div>Below you will be able to see your progress</div>
            </div>
        </div>
    </header>

    <main>

        <div class="basic-info">
            <div class="first-row">
                <div class="small-row">
                    <div class="small small-000"></div>
                    <div class="big big-000">
                        Proposal
                    </div>
                    <div class="small small-001"></div>
                    <div class="big big-001">
                        Info
                    </div>
                    <div class="small small-002"></div>
                </div>
            </div>
            <div class="second-row">
                <div class="large-row">
                    <div class="small small-110"></div>
                    <div class="big big-110">
                        <div class="proposal-req">
                            <div>Ready with your idea</div>
                            <div>send your proposal</div>
                            <div><a><i>Click Here,</i></a> now</div>
                        </div>
                    </div>
                    <div class="small small-111"></div>
                    <div class="big big-101">
                        <div class="mentor-info info-row">
                            <div class="first-div">Mentor: </div>
                            <div class="second-div">Pranav Mittal</div>
                        </div>
                        <div class="team-info-0 info-row">
                            <div class="first-div">Team: </div>
                            <div class="second-div">Sakshi Sharma (Leader)</div>
                        </div>
                        <div class="team-info-1 info-row">
                            <div class="first-div"></div>
                            <div class="second-div">Shobit Jain</div>
                        </div>
                        <div class="team-info-2 info-row">
                            <div class="first-div"></div>
                            <div class="second-div">Aditya Pratap Singh</div>
                        </div>
                        <div class="team-info-3 info-row">
                            <div class="first-div"></div>
                            <div class="second-div">Amanjot Singh</div>
                        </div>
                        <div class="proposal-info info-row">
                            <div class="first-div">Proposal Status:</div>
                            <div class="second-div">Accepted</div>
                        </div>
                        <div class="deadline-info info-row">
                            <div class="first-div">Deadline:</div>
                            <div class="second-div">23 Sep 2023</div>
                        </div>
                    </div>
                    <div class="small small-112"></div>
                </div>
            </div>
        </div>

        <div class="floating-display">
            <div class="first-row">
                <div class="small-row">
                    <div class="small small-020"></div>
                    <div class="big big-020"></div>
                    <div class="small small-021"></div>
                </div>
            </div>
            <div class="second-row">
                <div class="large-row">
                    <div class="small small-130"></div>
                    <div class="big big-130">
                        <div class="move">
                            <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your Work</span>
                                <span class="dot"></span>
                                <span class="span-1">Your Work</span>
                                <span class="dot"></span>
                            </h1>
                        </div>
                    </div>
                    <div class="small small-131"></div>
                </div>
            </div>
        </div>

        <div class="project-display">
            <div class="first-row">
                <div class="small-row">
                    <div class="small small-040"></div>
                    <div class="big big-040">
                        Nature
                    </div>
                    <div class="small small-041">
                    </div>
                    <div class="big big-041">
                        Info
                    </div>
                    <div class="small small-042"></div>
                </div>
            </div>
            <div class="second-row">
                <div class="large-row">
                    <div class="small small-150"></div>
                    <div class="big big-150"></div>
                    <div class="small small-151"></div>
                    <div class="big big-151">
                        <div class="desc">
                            <p>
                             The Nature Conservancy California protects the state's incredible natural beauty. For over 65 years, they've been working hard to preserve California's wildlife, habitats, and natural resources. From the redwoods in the north to the sandy beaches in the south, they're ensuring that the states natural wonders are here to stay.
                            </p>
                        </div>
                        <div class="details">
                            <div class="team-details">
                                <div class="first-detail">Created By:</div>
                                <div>Amanjot Singh</div>
                                <div>Sakshi Sharma</div>
                                <div>Aditya Pratap Singh</div>
                                <div>Shobit Jain</div>
                            </div>
                            <div class="mentor-details">
                                <div class="first-detail">Mentor:</div>
                                <div>Pranav Mittal</div>
                            </div>
                            <div class="clg-details">
                                <div class="first-detail">College</div>
                                <div>MIET</div>
                            </div>
                        </div>
                        <div class="see-all-btn">
                            <div>See All</div>
                        </div>
                    </div>
                    <div class="small small-152"></div>
                </div>
            </div>
        </div>

        <div class="floating-display">
            <div class="first-row">
                <div class="small-row">
                    <div class="small small-020"></div>
                    <div class="big big-020"></div>
                    <div class="small small-021"></div>
                </div>
            </div>
            <div class="second-row">
                <div class="large-row">
                    <div class="small small-130"></div>
                    <div class="big big-130">
                        <div class="move">
                            <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>    <h1 class="moving-text m-0">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Trending</span>
                                <span class="dot"></span>
                                <span class="span-1">Trending</span>
                                <span class="dot"></span>
                            </h1>
                        </div>
                    </div>
                    <div class="small small-131"></div>
                </div>
            </div>
        </div>


        <div class="project-display">
            <div class="first-row">
                <div class="small-row">
                    <div class="small small-040"></div>
                    <div class="big big-040">
                        Earth
                    </div>
                    <div class="small small-041">
                    </div>
                    <div class="big big-041">
                        Info
                    </div>
                    <div class="small small-042"></div>
                </div>
            </div>
            <div class="second-row">
                <div class="large-row">
                    <div class="small small-150"></div>
                    <div class="big big-150 second"></div>
                    <div class="small small-151"></div>
                    <div class="big big-151">
                        <div class="desc">
                            <p>
                                Jigsaw, formerly Google Ideas, works to make the internet a safe place for free expression. Jigsaw provides people in oppressed countries tools to protect themselves from digital attacks and allow them to share their opinion freely.                            </p>
                        </div>
                        <div class="details">
                            <div class="team-details">
                                <div class="first-detail">Created By:</div>
                                <div>Amanjot Singh</div>
                                <div>Sakshi Sharma</div>
                                <div>Aditya Pratap Singh</div>
                                <div>Shobit Jain</div>
                            </div>
                            <div class="mentor-details">
                                <div class="first-detail">Mentor:</div>
                                <div>Pranav Mittal</div>
                            </div>
                            <div class="clg-details">
                                <div class="first-detail">College</div>
                                <div>MIET</div>
                            </div>
                        </div>
                        <div class="see-all-btn">
                            <div>See All</div>
                        </div>
                    </div>
                    <div class="small small-152"></div>
                </div>
            </div>
        </div>


  <div class="floating-display">
            <div class="first-row">
                <div class="small-row">
                    <div class="small small-020"></div>
                    <div class="big big-020"></div>
                    <div class="small small-021"></div>
                </div>
            </div>
            <div class="second-row">
                <div class="large-row">
                    <div class="small small-130"></div>
                    <div class="big big-130">
                        <div class="move">
                            <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1> <h1 class="moving-text m-0">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                            <h1 class="moving-text m-1">
                                <span class="span-0">Your College</span>
                                <span class="dot"></span>
                                <span class="span-1">Your College</span>
                                <span class="dot"></span>
                            </h1>
                        </div>
                    </div>
                    <div class="small small-131"></div>
                </div>
            </div>
        </div>

        <div class="project-display">
            <div class="first-row">
                <div class="small-row">
                    <div class="small small-040"></div>
                    <div class="big big-040">
                        Music
                    </div>
                    <div class="small small-041">
                    </div>
                    <div class="big big-041">
                        Info
                    </div>
                    <div class="small small-042"></div>
                </div>
            </div>
            <div class="second-row">
                <div class="large-row">
                    <div class="small small-150"></div>
                    <div class="big big-150 third"></div>
                    <div class="small small-151"></div>
                    <div class="big big-151">
                        <div class="desc">
                            <p>
                                I am constantly generating small ideas in my head. I often create prototypes or visualizations to prevent these ideas from slipping away. They are not complete projects and are not necessarily pursued further, but they are a creative outlet I enjoy doing.                            </p>
                        </div>
                        <div class="details">
                            <div class="team-details">
                                <div class="first-detail">Created By:</div>
                                <div>Amanjot Singh</div>
                                <div>Sakshi Sharma</div>
                                <div>Aditya Pratap Singh</div>
                                <div>Shobit Jain</div>
                            </div>
                            <div class="mentor-details">
                                <div class="first-detail">Mentor:</div>
                                <div>Pranav Mittal</div>
                            </div>
                            <div class="clg-details">
                                <div class="first-detail">College</div>
                                <div>MIET</div>
                            </div>
                        </div>
                        <div class="see-all-btn">
                            <div>See All</div>
                        </div>
                    </div>
                    <div class="small small-152"></div>
                </div>
            </div>
        </div>

    </main>

    <footer>

    </footer>

    <script src="/scripts/explore.js"></script>
    
</body>
</html>