<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <script src="https://kit.fontawesome.com/040eb06c51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>

    <main>
        <div class="login-popup">
            <div class="content-0">
                <div class="back-btn">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="greet">Good Day!</div>
                <div class="info">Fill in your e-mail address to login or create account.</div>
                <div class="inputs">
                    <!-- <label for="email hidden">e-mail address*</label> -->
                    <input type="email" class="email" placeholder="E-mail address*" id="email" name="email">
                </div>
                <div class="next">Continue</div>
            </div>

            <div class="content-1 hidden">
                <div class="back-btn">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="greet">Welcome!</div>
                <div class="info">Create a password.</div>
                <div class="inputs">
                    <!-- <label for="email hidden">e-mail address*</label> -->
                    <input type="email" class="email" placeholder="E-mail address*" id="email" name="email">
                    <input type="password" class="password" placeholder="Password*" id="password" name="password">
                    <input type="password" class="confirm" placeholder="Confirm Password*" id="confirm" name="confirm">
                </div>
                <div class="next">Next Step</div>
            </div>

            <div class="content-2 hidden">
                <div class="back-btn">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="greet">Welcome to Galaxy!</div>
                <div class="info">Let's set this up by telling us a bit about yourself.</div>
                <div class="inputs">
                    <!-- <label for="email hidden">e-mail address*</label> -->
                    <input type="text" class="username" placeholder="Username*" id="username" name="username">
                    <input type="text" class="name" placeholder="Name*" id="name" name="name">
                </div>
                <div class="next">Continue</div>
            </div>

            <div class="content-3 hidden">
                <div class="back-btn">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="greet">Welcome to Galaxy!</div>
                <div class="info">Now, tell us a bit about your college.</div>
                <div class="inputs">
                    <!-- <label for="email hidden">e-mail address*</label> -->
                    <input type="text" class="roll-no" placeholder="Roll Number*" id="rollNo" name="roll-no">
                    <input type="text" class="college" placeholder="College Name*" id="college" name="college">
                </div>
                <div class="next">Continue</div>
            </div>

            <div class="content-4 hidden">
                <div class="back-btn">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="greet">Welcome back!</div>
                <div class="info">Fill in your password.</div>
                <div class="inputs">
                    <!-- <label for="email hidden">e-mail address*</label> -->
                    <input type="email" class="email" placeholder="E-mail address*" id="email" name="email">
                    <input type="password" class="password" placeholder="Password*" id="pass" name="password">
                </div>
                <div class="next">Log in</div>
            </div>

            <div class="content-5 hidden login-complete">
                <!-- <div class="img"></div> -->
                <div class="greet">You're now logged in!</div>
                <div class="info">
                   <div>You can view</div>
                   <div class="info-link"><a href="/profile">your account here.</a></div>
            </div>
            </div>

        </div>
    </main>

    <script src="/scripts/login.js"></script>
</body>
</html>