<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/040eb06c51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/typing.css">
</head>
<body>
    
    <nav>
        <div class="nav-content">
            <div class="logo">Galaxy</div>
            <div class="features">
                
                <a href="/">Projects</a>
                <a href="/">Explore</a>
                <a href="/">Create</a>
                <a href="/">Typing test</a>
                <a href="/">Profile</a>
            </div>
        </div>
    </nav>
    <div class="cont">
    <div class="cont3">
    <div class="cont1">
        HELLO,<BR>
        YASH POONIA
    </div>
    <div class="cont2">Sharpen your keystrokes<BR> and master the art of typing,<BR> one key at a time.</div>
    </div>
    </div>
   
   <div class="row-1">
    <div class="small-row">
        <div class="small-00"> </div>
        <div class="large-00"></div>
        <div class="small-01"></div>
        
    </div>
</div>
<div class="row-y">
    <div class="small-rowy">
        <div class="small-y00"> </div>
        <div class="large-y00">
        <div class="ww2">
            <h1><div class="dot"></div>Typing Test</h1>
            <h1 id="rdi"><div class="dot"></div>Typing Test</h1>
            <h1><div class="dot"></div> Typing Test </h1>
            <h1 id="rdi"><div class="dot"></div>Typing Test</h1>
        </div>
    </div>
        <div class="small-y02"> </div>
    </div>
 </div>
 <div class="row-1">
    <div class="small-row">
        <div class="small-00"> </div>
        <div class="large-00"></div>
        <div class="small-01"></div>
        
    </div>
</div>
<div class="row-2">
    <div class="small-row">
    <div class="small-00"> </div>
    <div class="large-00">
        <div class="timer">
            <ul class="timer-options">
                <li class="grow-link" value="15">15</li>
                <li class="grow-link" value="30">30</li>
                <li class="grow-link" value="60">60</li>
                <li class="grow-link" value="120">120</li>
            </ul>
        </div>
        <div class="input-text">
            <div class="typing-area">
                <div class="caret"></div>
                <p class="given-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi at maiores consectetur sunt pariatur eum quia! Modi commodi ipsam distinctio nesciunt facilis illum perferendis odio, laudantium, expedita ratione, consequatur impedit!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quos debitis, quo animi inventore dolore minus accusantium neque ad perferendis quidem asperiores voluptate modi maxime laborum hic distinctio blanditiis in!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta repellat error a vel ipsa molestiae consequuntur labore, porro doloremque recusandae aut aliquid numquam impedit eligendi architecto, omnis, aspernatur ipsum id!
                </p>
                <p id="after-text" class="hidden"></p>
                <input type="text" id="myInput" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="small-01"></div>
    
</div></div>
<div class="row-1">
    <div class="small-row">
        <div class="small-00"> </div>
        <div class="large-00"></div>
        <div class="small-01"></div>
        
    </div>
</div>
<div class="row-3">
    <div class="small-row-1">
        <div class="small-00"> </div>
        <div class="large-00">
            <div class="result">
                <div class="result-content">
                    <div class="score">
                        <p class="grow-link">Score: <span>nil</span> </p>
                    </div>
                    <div class="accuracy">
                        <p class="grow-link">Accuracy: <span>nil</span> </p>
                    </div>
                </div>
            </div>      
        </div>
        <div class="small-01"></div>
        <div class="large-01">
            <div class="live-time">
                <div>
                    <p class="grow-link">0</p>
                </div>
            </div>
        </div>
        <div class="small-02"> </div>
        <div class="large-02">
            <p><b style="color: orangered;">INPUT YOUR OWN TEXT</b></p>
        </div>
        <div class="small-03"></div>
        
    </div>
</div>
<div class="row-1">
    <div class="small-row">
        <div class="small-00"> </div>
        <div class="large-00"></div>
        <div class="small-01"></div>
        
    </div>
</div>

    <script src="/scripts/typing.js"></script>
</body>
</html>