<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload-form</title>

    <script src="https://kit.fontawesome.com/040eb06c51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/upload.css">
</head>
<body>
    <main>
        <div class="upload-popup">

            <div class="content-0">
                <div class="first">
                    <div class="back"><i class="fa-solid fa-arrow-left-long" style="color: #fff;"></i></div>
                    <div class="greet">Hello Aman!</div>
                    <div class="close"><i class="fa-solid fa-xmark" style="color: #fff;"></i></div>
                </div>
                <div class="content">
                    <div class="msg">Welcome to upload section.<br> <span>To get your prjoect on our panel we need you to tell us some details about your work.</span></div>
                </div>
                <div class="main">
                    <div class="heading">
                        Firstly, <span>let's start with a unique title for you project.</span>
                    </div>
                    <div class="input">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="next">
                    <div class="continue">Continue</div>
                </div>
            </div>

            <div class="content-1 hidden">
                <div class="first">
                    <div class="back"><i class="fa-solid fa-arrow-left-long" style="color: #fff;"></i></div>
                    <div class="greet">Hello Aman!</div>
                    <div class="close"><i class="fa-solid fa-xmark" style="color: #fff;"></i></div>
                </div>
                <div class="content">
                    <div class="msg">Great title buddy.<br> <span>Let's move on to the next step.</span></div>
                </div>
                <div class="main">
                    <div class="heading">
                            Now,<span> please take a moment to describe your project.</span>
                    </div>
                    <div class="input">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="next">
                    <div class="continue">Continue</div>
                </div>
            </div>

            <div class="content-2 hidden">
                <div class="first">
                    <div class="back"><i class="fa-solid fa-arrow-left-long" style="color: #fff;"></i></div>
                    <div class="greet">Hello Aman!</div>
                    <div class="close"><i class="fa-solid fa-xmark" style="color: #fff;"></i></div>
                </div>
                <div class="content">
                    <div class="msg">Well done.<br> <span>Let's proceed to the next phase.</span></div>
                </div>
                <div class="main">
                    <div class="heading">
                            Now,<span> please provide the GitHub link to your project.</span>
                    </div>
                    <div class="input">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="next">
                    <div class="continue">Continue</div>
                </div>
            </div>

            <div class="content-3 hidden">
                <div class="first">
                    <div class="back"><i class="fa-solid fa-arrow-left-long" style="color: #fff;"></i></div>
                    <div class="greet">Hello Aman!</div>
                    <div class="close"><i class="fa-solid fa-xmark" style="color: #fff;"></i></div>
                </div>
                <div class="content">
                    <div class="msg">Splendid.<br> <span>with that covered, we can now move on to the next stage.</span></div>
                </div>
                <div class="main">
                    <div class="heading">
                            Now,<span> please provide the Website link to your project.</span>
                    </div>
                    <div class="input">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="next">
                    <div class="continue">Continue</div>
                    <div class="skip">Skip</div>
                </div>
            </div>

            <div class="content-4 hidden">
                <div class="first">
                    <div class="back"><i class="fa-solid fa-arrow-left-long" style="color: #fff;"></i></div>
                    <div class="greet">Hello Aman!</div>
                    <div class="close"><i class="fa-solid fa-xmark" style="color: #fff;"></i></div>
                </div>
                <div class="content">
                    <div class="msg">Terrific.<br> <span>with that covered, we can now move on to the next stage.</span></div>
                </div>
                <div class="main">
                    <div class="heading">
                            Now,<span> kindly share the technologies you utilized in the development of this project.</span>
                    </div>
                    <div class="input">
                        <div class="add">
                            <input type="text" placeholder="type tech">
                            <i class="fa-solid fa-plus add-btn" style="color: #fff;"></i>
                        </div>
                        <div class="display">
                        </div>
                    </div>
                </div>
                <div class="next">
                    <div class="continue">Continue</div>
                </div>
            </div>

            <div class="content-5 hidden">
                <div class="first">
                    <div class="back"><i class="fa-solid fa-arrow-left-long" style="color: #fff;"></i></div>
                    <div class="greet">Hello Aman!</div>
                    <div class="close"><i class="fa-solid fa-xmark" style="color: #fff;"></i></div>
                </div>
                <div class="content">
                    <div class="msg">Superb.<br> <span>with all aspects considered, we can now move on to the final stage.</span></div>
                </div>
                <div class="main">
                    <div class="heading">
                        Finally,<span> share an image of your project if you have one.</span>
                    </div>
                    <div class="input">
                        <input type="file">
                        <input type="submit">
                    </div>
                </div>
                <div class="next">
                    <div class="continue">Continue</div>
                    <div class="skip">Skip</div>
                </div>
            </div>

            <div class="content-6 hidden">
                <div class="final-greet">
                    Congratulations!
                </div>
                <div class="final-msg">
                    Your project is successfully uploaded. <br>
                    You can view it in explore section now.
                </div>
                <div class="last">
                    Exit
                </div>
            </div>
        </div>
    </main>

    <script src="/scripts/upload.js"></script>
</body>
</html>