<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/viewQues.css">
</head>
<body>

    <nav>
        <div class="nav-content">
            <div class="logo">Galaxy</div>
            <div class="features">
                <a href="/">Explore</a>
                <a href="/">Create</a>
                <a href="/">Dashboard   </a>
            </div>
        </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="completed-info">
                <div>Completed</div>
                <div>4/10</div>
            </div>
            <div class="heading">
                <div>Embrace the</div>
                <div>Grind</div>
            </div>
        </div>
    </header>

    <main>
        <div class="main-content">
            <div class="main-row row-0">
                <div class="first-row">
                    <div class="small-row small-row-0">
                        <div class="small mat-00"></div>
                        <div class="large mat-01"></div>
                        <div class="small mat-02"></div>
                    </div>
                </div>
                <div class="second-row">
                    <div class="large-row large-row-0">
                        <div class="small mat-10"></div>
                        <div class="large mat-11">
                            <div class="move">
                                <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1> <h1 class="moving-text m-0">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                <h1 class="moving-text m-1">
                                    <span class="span-0">Questions</span>
                                    <span class="dot"></span>
                                    <span class="span-1">Questions</span>
                                    <span class="dot"></span>
                                </h1>
                                
                                
                            </div>
                           
                        </div>
                        <div class="small mat-12"></div>
                    </div>
                </div>
            </div>

            <div class="main-row row-1">
                <div class="first-row">
                    <div class="small-row small-row-0">
                        <div class="small mat-20"></div>
                        <div class="large mat-21"></div>
                        <div class="small mat-22"></div>
                    </div>
                </div>
                <div class="second-row">
                    <div class="large-row large-row-0 ques-row">
                        <div class="small mat-30"></div>
                        <div class="large mat-31"></div>
                        <div class="small mat-32"></div>
                    </div>
                </div>
            </div>
            <div class="main-row row-2">
                <div class="first-row">
                    <div class="small-row small-row-2">
                        <div class="small mat-40"></div>
                        <div class="large mat-41"></div>
                        <div class="small mat-42"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="/scripts/viewQues.js"></script>
</body>
</html>