:root {
    --border-color: rgba(215,215,215);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: text-fonts;
    src: url(/utility/fonts/Akkurat-Mono.OTF);
}

body{
    background-color: rgba(239,239,239);
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-content {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-weight: bold;
}

.features {
    display: flex;
    gap: 2rem;
    width: 70%;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
}

.header-content {
    width: 70%;
    display: flex;
    padding: 1rem 1rem;
    font-size: 0.6rem;
    font-family: text-fonts;
}

.greet {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgba(255,77,0);
    letter-spacing: .08em;
    gap: 2px;
    line-height: 10px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 10%;
    color: rgba(33,33,33);
    letter-spacing: .08em;
    text-transform: uppercase;
    line-height: 1.2em;
    font-size: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgba(232,232,232);
    scroll-behavior: smooth;
}

.section-0 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    >.row-0 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 2.5vh;
        border-bottom: 1px solid var(--border-color);

        >.inner-0 {
            width: 70%;
            display: grid;
            grid-template-columns: 1.5% 27% 1.5% 68.5% 1.5%;
            color: #f5f5f5;
            font-family: text-fonts;
            font-size: 0.6rem;

            >.normal {
                display: flex;
                align-items: center;
                padding-left: 1rem;
                background-color: #212121;
            }

            >.large {
                display: flex;
                align-items: center;
                padding-left: 1rem;
                background-color: #8e8e8e;
            }
        }
    }

    .row-1 {
        display: flex;
        width: 100%;
        height: 15vh;
        justify-content: center;

        >.inner-1 {
            width: 70%;
            display: grid;
            grid-template-columns: 1.5% 27% 1.5% 68.5% 1.5%;

            >.normal {
                display: flex;
                flex-direction: column;
                justify-content: end;
                font-family: text-fonts;
                color: black;
                font-size: 0.7rem;
                padding: 1rem;
                line-height: 1.5;

                >div {
                    width: max-content;
                }

                >.create-btn {
                    color: #ff4d00;
                    font-size: 0.9rem;
                    font-style: italic;
                    cursor: pointer;
                }
            }

            >.large {
                display: flex;
                flex-direction: column;
                

                >.name, .collg, .total, .likes, .sort {
                    display: flex;
                    height: 3vh;
                    font-family: text-fonts;
                    font-size: 0.6rem;
                    color: #3c3c3c;
                    border-bottom: 1px solid var(--border-color);
                    /* height: 100%; */

                    >.first {
                        display: flex;
                        align-items: center;
                        width: 30%;
                        padding-left: 1rem;
                    }

                    >.second {
                        display: flex;
                        align-items: center;
                        width: 70%;
                        padding-left: 1rem;
                    }
                }

                >.sort {
                    border: none;

                    >.second {
                        gap: 1.5rem;

                        >div {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.selected-sort {
    color: #ff4d00;
}

.small {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid var(--border-color); */
    border-bottom: 1px solid var(--border-color);

    >.row-0 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 2.5vh;
        border-bottom: 1px solid var(--border-color);

        >.inner-0 {
            width: 70%;
            display: grid;
            grid-template-columns: 1.5% 97% 1.5%;
        }
    }

    >.row-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 15vh;

        >.inner-1 {
            width: 70%;
            display: grid;
            grid-template-columns: 1.5% 97% 1.5%;

            >.move {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;

                >.moving-text {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    overflow: hidden;
                    gap: 1rem;
                    animation: marquee 5s linear infinite;

                    .span-0, .span-1 {
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        color: rgba(33,33,33);
                        font-size: 5rem;
                        float: left;
                        width: 50%;

                        >.dot {
                            font-size: 2rem;
                            width: 0.5em;
                            height: 0.5em;
                            border-radius: 50%;
                            border: 3px solid rgba(33,33,33);
                        }
                    }
                    
                    .span-1 {
                        color: rgba(255, 77, 0);
                    }
                }
            }
        }
    }
}

.section-2, .section-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    >.row-0 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 2.5vh;
        border-bottom: 1px solid var(--border-color);

        >.inner-0 {
            width: 70%;
            display: grid;
            grid-template-columns: 1.5% 47.75% 1.5% 47.75% 1.5%;

            >.normal-0 {
                display: flex;
                align-items: center;
                background-color: #212121;
                color: #f5f5f5;
                font-family: text-fonts;
                font-size: 0.7rem;
                padding-left: 1rem;
            }

            >.normal-1 {
                display: flex;
                align-items: center;
                background-color: #8e8e8e;
                color: #f5f5f5;
                font-family: text-fonts;
                font-size: 0.7rem;
                padding-left: 1rem;
            }
        }
    }

    >.row-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70vh;

        >.inner-1 {
            width: 70%;
            display: grid;
            grid-template-columns: 1.5% 47.75% 1.5% 47.75% 1.5%;

            >.normal-0, .normal-1 {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                
                >.upper {
                    height: 85%;
                    width: 100%;
                    background-image: url(/utility/images/ideas-2.webp);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }

                >.lower {
                    height: 15%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    >.date, .curr-likes, .open {
                        height: 25%;
                        display: flex;
                        font-family: text-fonts;
                        font-size: 0.6rem;
                        color: #3c3c3c;
                        border-bottom: 1px solid var(--border-color);

                        >.first {
                            display: flex;
                            align-items: center;
                            width: 30%;
                            padding-left: 1rem;
                        }
    
                        >.second {
                            display: flex;
                            align-items: center;
                            width: 70%;
                            padding-left: 1rem;
                        }
                    }

                    >.open {
                        align-items: center;
                        padding-left: 1rem;
                        height: 50%;
                        border: none;
                        font-size: 0.7rem;

                        >.open-btn {
                            width: max-content;
                            height: max-content;
                            cursor: pointer;
                            color: #ff4d00;
                            border-radius: 3px;
                            padding: 0.3rem;
                            border: 1px solid #ff4d00;
                        }
                    }
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }
    
    100% {
        transform: translate(-100%);
    }
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }

.popup {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.8);
}

.create-form {
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: linear-gradient(270deg,rgba(33,33,33,.6) 14.44%,rgba(70,69,67,.6) 93.61%),#000;
    padding: 1rem 1rem 1.5rem 1rem;
    justify-content: space-between;
}

.exit {
    display: flex;
    justify-content: end;
    align-items: center;
    color: #f5f5f5;

    >i {
        cursor: pointer;

        &:hover {
            color: #ff4d00;
        }
    }
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-size: 2rem;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: text-fonts;
    color: #f5f5f5;
    opacity: 0.6;
    font-size: 0.8rem;

    >p {
        width: 80%;
    }
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;

    >input {
        border-radius: 5px;
        padding: 0.5rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
                     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: hsla(0, 0%, 100%, 0.04);
        color: white;
        border: 1px solid #f5f5f5;
    }
}

.continue {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-family: text-fonts;

    >p {
        border-bottom: 1px solid #f5f5f5;
        cursor: pointer;

        &:hover {
            color: #ff4d00;
            border-color: #ff4d00;
        }
    }
}

.hidden {
    display: none;
}