body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 20px;
  color: white;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

/* Write your code here */

.display {
	font-size: 1.2rem;
	padding: 5px 15px;
	text-align: end;
	color: white;
}

.buttons button {
	font-size: 0.7rem;
	padding: 2.5px;
	background-color: #555;
	border-radius: 5px;
	cursor: pointer;
}

.calculator-card {
	padding: 0.8rem;
	background-color: #222;
	border-radius: 10px;
}