:root {
    --border-color: rgba(215,215,215);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: text-fonts;
    src: url(/utility/fonts/Akkurat-Mono.OTF);
}


body {
    display: flex;
    flex-direction: column;
    background-color: rgba(239,239,239);
}

a {
    text-decoration: none;
    color: black;
}

nav {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    width: 100%
}

.nav-content {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav .nav-content .features a:hover{
    background-color:black ;
    color:white;
}
.logo {
    font-weight: bold;
    cursor: pointer;
    width: 30%;
}

.features {
    display: flex;
    width: 70%;
    gap: 2rem;
    font-size: 0.8rem;
}
.cont{
    height:12vh;
    background-color: rgb(238, 237, 237);
    display: flex;
    justify-content: center;
}

.cont3{
    display: flex;
    justify-content: center;
    width: 70%;
}
.cont2 { 
    display: flex;
    font-size: 0.8rem;
    width: 70%;
    font-family: text-fonts;
    justify-content: flex-end;
    /* align-items: center; */
    flex-direction: column;
    padding: 1rem;
}
    
.cont1 {
    display: flex;
    font-size: 0.8rem;
    width: 30%;
    font-family: text-fonts;
    justify-content: flex-end;
    /* align-items: center; */
    flex-direction: column;
    padding: 1rem;
    
}

.row-1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.5vh;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}


.small-row{
    width: 70%;
    height: 100%; 
    display: grid;
    justify-content: center;
    grid-template-columns: 1.5% 98% 1.5% ;
}

.small-00, .small-01,.large-00, .small-02,.small-03,.large-01,.large-02{
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
}




.row-y{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
.small-rowy{
    width: 70%;
    height: 100%; 
    display: grid;
    justify-content: center;
    grid-template-columns: 1.5% 98% 1.5%
}
.small-y00, .small-y02 {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
 




.yw{
    height: 15vh;
    display: flex;
    justify-content: center;
    color: orangered;
    font-weight: bold;
    font-size: 40px;
    padding-top: 50px;
}
.ww1{
    height: 15vh;
    display: flex;
    justify-content: center;
    color: orangered;
    font-weight: bold;
    font-size: 40px;
    padding-top: 50px;
}


.dot{
    width: 0.5em;
    height: 0.5em;
    display: block;
    border-radius: 50%;
    border: 3px solid rgba(33,33,33);
}
.ww2{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    will-change: transform;
}
.dot{
    border-radius: 50%;
    margin-top: 15px;
    margin-right:8px;
    margin-left: 8px;
}



.ww2 h1{
    display: flex;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    color:orangered;
    animation: move-rtl 6000ms linear infinite;
}
#rdi{
    color: black;
}
.ww3{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    will-change: transform;
}
.ww3 h1{
    display: flex;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    color:orangered;
    animation: move-rtl 14000ms linear infinite;
}
@keyframes move-rtl {
    0%{
        transform: translate(0);

    }
    100%{
        transform: translate(-100%)
    }
    
}
.row-2{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
.row-3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
.small-row-1{
    width: 70%;
    height: 100%; 
    display: grid;
    justify-content: center;
    grid-template-columns: 1.5% 31.85% 1.5% 31.3% 1.5% 31.85% 1.5%;
}

.large-00,.large-01,.large-02{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2 .large-00 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48vh;
}

.test-headline{
    width: 40%;
    display: flex;
    height: 20%;
    justify-content: space-around;
    align-items: center;
}

.input-text {
    width: 90%;
    height: 80%;

}


/* text */

.typing-area {
    background-color: transparent;
    transition: background-color 300ms ease;
    padding: 0px 20px;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    z-index: -1;
}


.typing-area::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}

/* .typing-area::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 5px;
} */

#after-text {
    color: white;
    font-size: 3.5rem;
    text-align: center;
    font-family: var(--font-1);
    opacity: 0.9;
    margin-top: 20%;
    transition: font-family 300ms ease;
}

#after-text span {
    margin-top: 10px;
    display: block;
}

#after-text span i {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* rgb(58, 58, 58) */
.given-text {
    font-size: 1.5rem;
    line-height: 1.5em;
    color: black;
    transition: all 0.125s ease 0s;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 36px;
    /* filter: blur(10px); */
}

.given-text span {
    height: 1.5em;
}

.given-text span.right {
    color: #2ECC40;
}

.given-text span.wrong {
    color: #FF4136;
}

.given-text span.notTyped {
    opacity: 0.5;
}

.typing-area-wrapper {
    position: relative;
}

.caret {
    font-size: 1.5rem;
    opacity: 1;
    width: 1.5px;
    height: 1.4em;
    position: sticky;
    /* background-color: transparent; */
    background-color: orangered;
    left: 0px;
    top: 35px;
    transition: all 0.125s ease 0s;
    margin: 0;
    padding: 0;
    animation: blink 1s infinite;
}

@-webkit-keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#myInput {
    position: absolute;
    left: -9999px;
    top: -9999px;
}


/* timer */
.time {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: max-content;
    font-size: 2rem;
    
    transition: color 300ms ease;
}

.time:hover {
    color: orange;
    transition: color 300ms ease;
}


.timer-options {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* margin-left: 20%; */
}

.timer-options>li {
    font-size: 1.2rem;
    cursor: pointer;
    /* margin-right: 20%; */
    color: rgba(32,32,32);
    font-family: text-fonts;
    transition: color, font-family 300ms ease;
}

.timer-options>li:hover {
    color: orangered;
    transition: color 300ms ease;
}

@media (max-width: 920px) {
    .timer-options>li {
        font-size: 1rem;
        /* margin-right: 15%; */
    }
}


/* live-time */

.live-time {
    grid-row-start: 3;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid var(--border-color);
    transition: border-right 300ms ease;
    overflow: auto;
}

.live-time>div>p {
    width: max-content;
    font-size: 3rem;
    color: var(--secondary-text-color);
    font-family: var(--font-1);
    transition: color, font-family 300ms ease;
}

.liveTimeEffects {
    animation: enlarge 1s ease infinite;
}

@-webkit-keyframes enlarge {
    0% {
        font-size: 3.5rem;
    }

    50% {
        font-size: 5rem;
    }

    100% {
        font-size: 3.5rem;
    }
}

@keyframes enlarge {
    0% {
        font-size: 3.5rem;
    }

    50% {
        font-size: 5rem;
    }

    100% {
        font-size: 3.5rem;
    }
}


/* result */

.row-3 .large-00 {
    height: 100%;
    width: 100%;
}

.result {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    transition: border-right, border-bottom 300ms ease;
    overflow: auto;
}

.result-content {
    width: max-content;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.result>div>div>p {
    font-size: 1.45rem;
    width: max-content;
    margin: 10% 0;
    color: var(--main-text-color);
    font-family: var(--font-1);
    transition: color, font-family 300ms ease;
}

.result>div>div>p>span {
    color: var(--secondary-text-color);
    transition: color 300ms ease;
}